<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>this is library page!</h1>

<form action=""method="POST">
    {%csrf_token %}
    <input type="search" value="" placeholder="Search">
    <button type = "subnmit">Search</button>

</form>
    <h2>Books:</h2>
    <ul>
        {%for book in books %}
        <li>
            <h2>
                <a href="{%url 'book_detail' book.id%}">Name:{{book.title}}</a>
                _
            </h2>

        </li>
    {%end for%}
    </ul>



    <a href="{% url 'main'%}" >Back</a>

</body>
</html>